/* Global setting*/
* {
    margin: 0;
    font-family: 'Ubuntu';
    font-style: normal;
}

/* Setting the backgournd color */
body {
    background-color: #051622;
}

/* Setting the text style for the h1 */
h1 {
    position: absolute;
    left: 70%;
    top: 30%;
    font-weight: 700;
    font-size: 50px;
    line-height: 57px;
    text-transform: uppercase;
    color: #FFCF9C;
}

/* Setting the text style for the h2 */
h2 {
    padding-bottom: 10px;
    font-weight: 700px;
    font-size: 36px;
    line-height: 41px;
    text-transform: uppercase;
    color: #FB9039;
}

/* Setting the layout for the title of each part(1/2) */
#topic {
    margin-top: 50px;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    margin-right: 80px;
}

/* Setting the layout for the title of each part(2/2) */
#Line1 {
    position: absolute;
    width: 720px;
    height: 0px;
    border: 5px solid #007CC7;
}

/* Setting the frame for the story 1(WHAT IS BLEACHING OF CORAL REEFS?) */
#story1 {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Setting the text layout inside the story 1(WHAT IS BLEACHING OF CORAL REEFS?) */
#description1 {
    font-weight: 400;
    font-size: 22px;
    line-height: 25px;
    width: 75%;
    margin-top: 25px;
    color: #F7F7F7;
    text-align: justify;
}

/* Setting the frame for the story 2(WHY THE CORAL BLEACH?) */
#story2 {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Setting the layout for the subtitle inside the story 2(WHY THE CORAL BLEACH?) */
#subtopic {
    font-weight: 500;
    font-size: 36px;
    line-height: 41px;
    text-transform: capitalize;
    color: #FFCF9C;
}

/* Setting the layout for the first text layout inside the story 2(WHY THE CORAL BLEACH?) */
#reason1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
}

/* Setting the layout for the second text layout inside the story 2(WHY THE CORAL BLEACH?) */
#reason2 {
    margin-top: 55px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 80%;
}

/* Setting the frame for text inside the story 2(WHY THE CORAL BLEACH?)(1/2) */
#description2_layout_first {
    margin-left: 110px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#description2_layout_second {
    margin-right: 110px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* Setting the frame for text inside the story 2(WHY THE CORAL BLEACH?)(2/2) */
#description2 {
    margin-top: 50px;
    font-weight: 400;
    font-size: 22px;
    line-height: 25px;
    text-align: justify;
    color: #F7F7F7;
}

/* Setting the frame for the story 3(DATA) */
#story3 {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Setting the chart layout inside the story 3(DATA) (1/3)*/
#chart1_layout {
    margin-top: 50px;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#Chart1 {
    width: 100%;
}


/* Setting the chart layout inside the story 3(DATA) (2/3)*/
#chart2_layout {
    margin-top: 50px;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#Chart2 {
    width: 100%;
}

/* Setting the layout for text inside the story 3(DATA)(1/2) */
#description3 {
    width: 75%;
    color: #F7F7F7;
    font-weight: 400;
    font-size: 22px;
    line-height: 25px;
    padding: 25px;
    text-align: justify;
}

/* Setting the chart layout inside the story 3(DATA) (3/3)*/
#chart3_layout {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#Chart3 {
    width: 100%;
    margin-top: 50px;
}

/* Setting the layout for text inside the story 3(DATA)(2/2) */
#description4 {
    width: 95%;
    font-weight: 400;
    font-size: 22px;
    line-height: 25px;
    padding: 25px;
    color: #F7F7F7;
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Setting the frame for the story 4(WHAT WE CAN DO?) */
#story4 {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Setting the layout for the incon in story 4(WHAT WE CAN DO?) */
#action {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

/* Setting the frame for 3 reason in side the story 4(WHAT WE CAN DO?) */
#s1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#s2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#s3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Setting the layout of the subtitle in side the story 4(WHAT WE CAN DO?) */
#subtopic2 {
    margin-top: 25px;
    font-size: 20px;
    line-height: 23px;
    text-transform: capitalize;
    color: #FFCF9C;
}

/* Setting the layout for text inside the story 4(WHAT WE CAN DO?) */
#description5 {
    width: 75%;
    /* background-color: #007CC7; */
    border-color: #FFCF9C;
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    padding: 25px;
    margin-top: 50px;
    text-align: justify;
    color: #F7F7F7;
    font-size: 22px;
    font-weight: 500;
}

/* Setting the frame for the story 5(Read More) */
#more {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

/* Setting the frame for 2 reason in side the story story 5(Read More) */
#s4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#s5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Setting the frame & layout for two button in side the story story 5(Read More) */
a{
    text-decoration: none;
}

#button1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 190px;
    height: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 12px;
    color: #FFCF9C;
    background-color: #051622;
    border-color: #FFCF9C;
    border-width: 1px;
    border-style: solid;
    text-align: center;
    font-size: 24px;
    line-height: 28px;
    padding: 20px;
    cursor: pointer;
    transition-duration: 0.4s;
}

#button1:hover {
    background-color: #FFCF9C;
    color: #051622;
}
